<a href="https://colab.research.google.com/github/ZyirB/Database-Systems-Code/blob/main/LAB_1_Design_Considerations_Baskerville.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import sqlite3

#establish connection
conn = sqlite3.connect('demo.db')

#used to execute SQL commands
cursor = conn.cursor()

In [10]:
#create 'Users' table
cursor.execute('''CREATE TABLE IF NOT EXISTS Users (
    user_id INTEGER PRIMARY KEY,
    username TEXT UNIQUE,
    email TEXT UNIQUE,
    password TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
)''')

#create 'UserActivities' table
cursor.execute('''CREATE TABLE IF NOT EXISTS UserActivities (
  activity_id INTEGER PRIMARY KEY,
  user_id INTEGER,
  activity TEXT,
  activity_time TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  FOREIGN KEY (user_id) REFERENCES USERS(user_id)
)''')

#create 'UserConnections' table
cursor.execute('''CREATE TABLE IF NOT EXISTS UserConnections (
  connection_id INTEGER PRIMARY KEY,
  user1_id INTEGER,
  user2_id INTEGER,
  connection_time TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  FOREIGN KEY (user1_id) REFERENCES Users(user_id),
  FOREIGN KEY (user2_id) REFERENCES Users(user_id)
)''')

In [14]:
#create indexes for data retrieval
cursor.execute("CREATE INDEX IF NOT EXISTS idx_users_id ON UserActivities(user_id)")
cursor.execute("CREATE INDEX IF NOT EXISTS idx_user1_user2 ON UserConnections(user1_id, user2_id)")

In [15]:
#commit (save) changes
conn.commit()

In [39]:
#add (insert) data into Users table
cursor.execute("INSERT INTO Users (username, email, password) VALUES (?, ?, ?)", ('alice5', 'alice5@example.com', 'password123'))
cursor.execute("INSERT INTO USers (username, email, password) VALUES (?, ?, ?)", ('bob', 'bob@example.com', 'secret123'))

#add (insert) data into UserActivities table
cursor.execute("INSERT INTO UserActivities (user_id, activity) VALUES (?, ?)", (1, 'Logged in'))
cursor.execute("INSERT INTO UserActivities (user_id, activity) VALUES (?, ?)", (2, 'Posted a comment'))

#add (insert) data into UserConnections
cursor.execute("INSERT INTO UserConnections (user1_id, user2_id) VALUES (?, ?)", (1, 2))
cursor.execute("INSERT INTO UserConnections (user1_id, user2_id) VALUES (?, ?)", (2, 1))

In [40]:
#commit (save) changes
conn.commit()

In [42]:
#query and print data from the Users table
print("Users:")
cursor.execute("SELECT * FROM Users")
for row in cursor.fetchall():
  print(row)

Users:
(1, 'alice', 'alice@example.com', 'password123', '2024-03-25 00:40:39')
(2, 'alice1', 'alice1@example.com', 'password123', '2024-03-25 00:58:13')
(3, 'alice2', 'alice2@example.com', 'password123', '2024-03-25 00:59:11')
(4, 'alice4', 'alice4@example.com', 'password123', '2024-03-25 01:01:58')
(5, 'bob3', 'bob3@example.com', 'secret123', '2024-03-25 01:01:58')
(6, 'alice5', 'alice5@example.com', 'password123', '2024-03-25 01:11:06')
(7, 'bob', 'bob@example.com', 'secret123', '2024-03-25 01:11:06')

In [44]:
#query and print data from the UserActivities table
print("\nUser Activities:")
cursor.execute("SELECT * FROM UserActivities")
for row in cursor.fetchall():
  print(row)

/nUser Activities:
(1, 1, 'Logged in', '2024-03-25 01:11:06')
(2, 2, 'Posted a comment', '2024-03-25 01:11:06')

In [45]:
#query and print data from the UserConnections table
print("\nUser Connections:")
cursor.execute("SELECT * FROM UserConnections")
for row in cursor.fetchall():
  print(row)

User Connections:
(1, 1, 2, '2024-03-25 01:11:06')
(2, 2, 1, '2024-03-25 01:11:06')

In [46]:
#close the database connection
conn.close()